.home {
  display: flex;
}

.home_sidebar {
  flex-basis: 320px;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #fff;
  margin: 0.5rem;
}

.home_main {
  flex-grow: 1;
  background-color: #fff;
  margin: 0.5rem;
}
